In [1]:
#lets install lhe selenium libariries
!pip install selenium

Requirement already satisfied: selenium in c:\users\inpshy\anaconda3\lib\site-packages (3.141.0)
Requirement already satisfied: urllib3 in c:\users\inpshy\anaconda3\lib\site-packages (from selenium) (1.25.11)

In [70]:
# Importing Libraries
import selenium
import pandas as pd
import time
from bs4 import BeautifulSoup

# Importing selenium webdriver 
from selenium import webdriver

# Importing required Exceptions which needs to handled
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException

#Importing requests
import requests

# importing regex
import re
import urllib3

In [71]:
#lets first connect with webdriver
driver=webdriver.Chrome(r"C:\Users\INPshy\Downloads\chromedriver.exe")

In [72]:
url='https://www.cars24.com/buy-used-car?sort=P&storeCityId=2&pinId=110001'
driver.get(url)

In [73]:
Brand=[]
Price=[]
History=[]
Owner=[]
Kilometers=[]
Fuel_type=[]
Last_service=[]
Transmisson=[]
Insurance=[]
Registration=[]
Year_of_manufacturing=[]

In [74]:
# 500 time we scroll down by 10000 in order to generate more cars on the website
for _ in range(100):
    driver.execute_script("window.scrollBy(0,100)")

In [76]:
# scrape all product urls
product_urls = []

url=driver.find_elements_by_xpath('//div[@class="col-4"]/a')       #scraping urls
for i in url:
    product_urls.append(i.get_attribute("href"))                        #appending the urls in product_urls list
    time.sleep(2)


product_urls

['https://www.cars24.com/buy-used-Maruti-Swift-2020-cars-Noida-1006479901/',
 'https://www.cars24.com/buy-used-Maruti-Alto-K10-2015-cars-New-Delhi-1108620029/',
 'https://www.cars24.com/buy-used-Maruti-Swift-2020-cars-New-Delhi-1000156441/',
 'https://www.cars24.com/buy-used-Maruti-S-PRESSO-2020-cars-New-Delhi-1108486124/',
 'https://www.cars24.com/buy-used-Renault-TRIBER-2020-cars-New-Delhi-1293353248/',
 'https://www.cars24.com/buy-used-Maruti-Alto-800-2017-cars-Noida-1006047343/',
 'https://www.cars24.com/buy-used-Hyundai-VENUE-2021-cars-New-Delhi-1124913747/',
 'https://www.cars24.com/buy-used-Maruti-Alto-2010-cars-New-Delhi-1000672120/',
 'https://www.cars24.com/buy-used-Maruti-Alto-800-2013-cars-New-Delhi-1001094028/',
 'https://www.cars24.com/buy-used-Maruti-Ritz-2011-cars-Noida-1050032220/',
 'https://www.cars24.com/buy-used-Maruti-Alto-K10-2011-cars-New-Delhi-1015620526/',
 'https://www.cars24.com/buy-used-Maruti-Celerio-2016-cars-New-Delhi-1004569543/',
 'https://www.cars24.com/buy-used-Maruti-S-PRESSO-2020-cars-New-Delhi-1008498041/',
 'https://www.cars24.com/buy-used-Maruti-Swift-2013-cars-Noida-1052417645/',
 'https://www.cars24.com/buy-used-Hyundai-Eon-2013-cars-New-Delhi-1051374923/',
 'https://www.cars24.com/buy-used-Hyundai-Grand-i10-2017-cars-Noida-1121017900/',
 'https://www.cars24.com/buy-used-Maruti-Celerio-2016-cars-Noida-1054631904/',
 'https://www.cars24.com/buy-used-Tata-Nano-2015-cars-New-Delhi-1004438800/',
 'https://www.cars24.com/buy-used-Hyundai-Santro-Xing-2013-cars-New-Delhi-1004277942/',
 'https://www.cars24.com/buy-used-Maruti-Alto-K10-2018-cars-New-Delhi-1106986345/',
 'https://www.cars24.com/buy-used-Hyundai-i10-2011-cars-New-Delhi-1003393209/',
 'https://www.cars24.com/buy-used-Maruti-Alto-800-2012-cars-New-Delhi-1005350021/',
 'https://www.cars24.com/buy-used-Toyota-Etios-2011-cars-New-Delhi-1000434525/',
 'https://www.cars24.com/buy-used-Hyundai-i10-2011-cars-New-Delhi-1009808904/',
 'https://www.cars24.com/buy-used-Maruti-Celerio-2018-cars-Gurgaon-1002343649/',
 'https://www.cars24.com/buy-used-Hyundai-Grand-i10-2018-cars-Noida-1001173745/',
 'https://www.cars24.com/buy-used-Toyota-Glanza-2019-cars-Gurgaon-1001054747/',
 'https://www.cars24.com/buy-used-Maruti-Swift-Dzire-2010-cars-New-Delhi-1017852322/',
 'https://www.cars24.com/buy-used-Maruti-Alto-K10-2010-cars-New-Delhi-1001055006/',
 'https://www.cars24.com/buy-used-Hyundai-i20-2013-cars-New-Delhi-1003749041/',
 'https://www.cars24.com/buy-used-Maruti-Alto-800-2017-cars-New-Delhi-1000236748/',
 'https://www.cars24.com/buy-used-Hyundai-Grand-i10-2014-cars-New-Delhi-1005907807/',
 'https://www.cars24.com/buy-used-Hyundai-Grand-i10-2016-cars-New-Delhi-1001398304/',
 'https://www.cars24.com/buy-used-Maruti-Alto-K10-2013-cars-New-Delhi-1008293645/',
 'https://www.cars24.com/buy-used-Maruti-Alto-800-2015-cars-New-Delhi-1007649408/',
 'https://www.cars24.com/buy-used-Hyundai-Grand-i10-2018-cars-New-Delhi-1101177644/',
 'https://www.cars24.com/buy-used-Maruti-Alto-K10-2012-cars-Noida-1125202927/',
 'https://www.cars24.com/buy-used-Maruti-Celerio-2014-cars-New-Delhi-1003571509/',
 'https://www.cars24.com/buy-used-Maruti-Alto-800-2018-cars-New-Delhi-1003870046/',
 'https://www.cars24.com/buy-used-Maruti-Wagon-R-1.0-2010-cars-New-Delhi-1000258500/',
 'https://www.cars24.com/buy-used-Maruti-Wagon-R-1.0-2018-cars-Gurgaon-1017526040/',
 'https://www.cars24.com/buy-used-Maruti-Wagon-R-1.0-2013-cars-New-Delhi-1003053546/',
 'https://www.cars24.com/buy-used-Maruti-Ritz-2011-cars-New-Delhi-1014897047/',
 'https://www.cars24.com/buy-used-Maruti-Swift-2012-cars-Noida-1006542537/',
 'https://www.cars24.com/buy-used-Maruti-Ritz-2010-cars-New-Delhi-1059186633/',
 'https://www.cars24.com/buy-used-Maruti-Swift-Dzire-2013-cars-New-Delhi-1006946022/',
 'https://www.cars24.com/buy-used-Hyundai-Grand-i10-2017-cars-Faridabad-1004739149/',
 'https://www.cars24.com/buy-used-Ford-Figo-2011-cars-New-Delhi-1009271848/',
 'https://www.cars24.com/buy-used-Hyundai-Eon-2015-cars-New-Delhi-1001760245/',
 'https://www.cars24.com/buy-used-Honda-Brio-2013-cars-Noida-1006051701/',
 'https://www.cars24.com/buy-used-Hyundai-Grand-i10-2017-cars-Noida-1122989107/',
 'https://www.cars24.com/buy-used-Maruti-Swift-2012-cars-New-Delhi-1105697345/',
 'https://www.cars24.com/buy-used-Maruti-Ritz-2012-cars-New-Delhi-1001777823/',
 'https://www.cars24.com/buy-used-Maruti-Alto-800-2017-cars-New-Delhi-1009299009/',
 'https://www.cars24.com/buy-used-Maruti-Alto-800-2015-cars-Noida-1003246126/',
 'https://www.cars24.com/buy-used-Maruti-Alto-800-2017-cars-New-Delhi-1006047503/',
 'https://www.cars24.com/buy-used-Hyundai-Verna-2012-cars-Gurgaon-1003528447/',
 'https://www.cars24.com/buy-used-Maruti-Swift-2009-cars-New-Delhi-1000533826/',
 'https://www.cars24.com/buy-used-Renault-Kwid-2019-cars-New-Delhi-1107172445/',
 'https://www.cars24.com/buy-used-Maruti-Wagon-R-1.0-2017-cars-New-Delhi-1004868202/',
 'https://www.cars24.com/buy-used-Hyundai-i20-2013-cars-New-Delhi-1005491848/',
 'https://www.cars24.com/buy-used-Maruti-Swift-2018-cars-New-Delhi-1005318448/',
 'https://www.cars24.com/buy-used-Maruti-Alto-K10-2017-cars-Faridabad-1127868329/',
 'https://www.cars24.com/buy-used-Ford-Figo-Aspire-2016-cars-New-Delhi-1002289309/',
 'https://www.cars24.com/buy-used-Maruti-Swift-2015-cars-New-Delhi-1056451901/',
 'https://www.cars24.com/buy-used-Maruti-Alto-800-2014-cars-New-Delhi-1057739946/',
 'https://www.cars24.com/buy-used-Maruti-Alto-800-2018-cars-New-Delhi-1004139103/',
 'https://www.cars24.com/buy-used-Maruti-Wagon-R-1.0-2015-cars-New-Delhi-1108473142/',
 'https://www.cars24.com/buy-used-Hyundai-Eon-2015-cars-New-Delhi-1050857246/',
 'https://www.cars24.com/buy-used-Maruti-Wagon-R-1.0-2018-cars-New-Delhi-1000848604/',
 'https://www.cars24.com/buy-used-Maruti-Swift-2019-cars-New-Delhi-1127417101/',
 'https://www.cars24.com/buy-used-Maruti-Wagon-R-1.0-2017-cars-New-Delhi-1017040545/',
 'https://www.cars24.com/buy-used-Hyundai-Elite-i20-2018-cars-New-Delhi-1005760749/',
 'https://www.cars24.com/buy-used-Datsun-Redi-Go-2016-cars-Gurgaon-1125277108/',
 'https://www.cars24.com/buy-used-Hyundai-i10-2011-cars-Noida-1001010127/',
 'https://www.cars24.com/buy-used-Hyundai-i10-2016-cars-New-Delhi-1000168908/',
 'https://www.cars24.com/buy-used-Maruti-Alto-K10-2010-cars-Gurgaon-1010966031/',
 'https://www.cars24.com/buy-used-Maruti-Alto-2020-cars-Gurgaon-1109936141/',
 'https://www.cars24.com/buy-used-Hyundai-Grand-i10-2018-cars-New-Delhi-1009644145/',
 'https://www.cars24.com/buy-used-Renault-Kwid-2017-cars-New-Delhi-1005805607/',
 'https://www.cars24.com/buy-used-Hyundai-i10-2012-cars-Faridabad-1019879805/',
 'https://www.cars24.com/buy-used-Hyundai-Grand-i10-2017-cars-New-Delhi-1005683146/',
 'https://www.cars24.com/buy-used-Maruti-Swift-2013-cars-Gurgaon-1001313244/',
 'https://www.cars24.com/buy-used-Maruti-Alto-K10-2017-cars-New-Delhi-1000899005/',
 'https://www.cars24.com/buy-used-Maruti-Alto-800-2018-cars-New-Delhi-1101876742/',
 'https://www.cars24.com/buy-used-Maruti-Alto-2010-cars-Noida-1000020420/',
 'https://www.cars24.com/buy-used-Maruti-Alto-800-2016-cars-Faridabad-2333861744/',
 'https://www.cars24.com/buy-used-Maruti-Swift-2014-cars-New-Delhi-1000455902/',
 'https://www.cars24.com/buy-used-Maruti-Alto-2020-cars-Gurgaon-1006239442/',
 'https://www.cars24.com/buy-used-Maruti-Alto-2020-cars-New-Delhi-1054589401/',
 'https://www.cars24.com/buy-used-Maruti-Swift-2015-cars-New-Delhi-1004917249/',
 'https://www.cars24.com/buy-used-Renault-Kwid-2019-cars-New-Delhi-1000169309/',
 'https://www.cars24.com/buy-used-Toyota-Etios-2011-cars-Gurgaon-1003686320/',
 'https://www.cars24.com/buy-used-Hyundai-Santro-Xing-2014-cars-New-Delhi-1006645602/',
 'https://www.cars24.com/buy-used-Hyundai-Eon-2014-cars-New-Delhi-1003768803/',
 'https://www.cars24.com/buy-used-Maruti-Baleno-2020-cars-Noida-1012086244/',
 'https://www.cars24.com/buy-used-Hyundai-Grand-i10-2019-cars-Gurgaon-1010689907/',
 'https://www.cars24.com/buy-used-Maruti-Alto-2019-cars-Noida-1005771804/',
 'https://www.cars24.com/buy-used-Hyundai-i10-2012-cars-New-Delhi-1000533346/',
 'https://www.cars24.com/buy-used-Honda-Amaze-2020-cars-Noida-1001037306/',
 'https://www.cars24.com/buy-used-Hyundai-i20-2013-cars-New-Delhi-1007057509/',
 'https://www.cars24.com/buy-used-Maruti-Alto-K10-2014-cars-New-Delhi-1000738730/',
 'https://www.cars24.com/buy-used-Maruti-Swift-2015-cars-New-Delhi-1006873609/',
 'https://www.cars24.com/buy-used-Hyundai-Grand-i10-2018-cars-Noida-1000772245/',
 'https://www.cars24.com/buy-used-Maruti-Eeco-2018-cars-Noida-1007245509/',
 'https://www.cars24.com/buy-used-Tata-Tiago-2018-cars-New-Delhi-1122663944/',
 'https://www.cars24.com/buy-used-Renault-Kwid-2019-cars-Noida-1003793246/',
 'https://www.cars24.com/buy-used-Maruti-Alto-K10-2010-cars-New-Delhi-1129222325/',
 'https://www.cars24.com/buy-used-Maruti-Baleno-2016-cars-New-Delhi-1009887807/',
 'https://www.cars24.com/buy-used-Maruti-A-Star-2012-cars-New-Delhi-1003021907/',
 'https://www.cars24.com/buy-used-Maruti-Alto-K10-2014-cars-Noida-1003695646/',
 'https://www.cars24.com/buy-used-Maruti-Dzire-2017-cars-Faridabad-1001646949/',
 'https://www.cars24.com/buy-used-Maruti-Swift-Dzire-2015-cars-Faridabad-1487426923/',
 'https://www.cars24.com/buy-used-Hyundai-Grand-i10-2014-cars-New-Delhi-1007318404/',
 'https://www.cars24.com/buy-used-Hyundai-Elite-i20-2014-cars-Noida-1008039207/',
 'https://www.cars24.com/buy-used-Maruti-Wagon-R-1.0-2013-cars-New-Delhi-1004213209/',
 'https://www.cars24.com/buy-used-Hyundai-Grand-i10-2015-cars-New-Delhi-1000965504/',
 'https://www.cars24.com/buy-used-Maruti-Swift-Dzire-2013-cars-Noida-1127830423/',
 'https://www.cars24.com/buy-used-Hyundai-Elite-i20-2016-cars-New-Delhi-1057403146/',
 'https://www.cars24.com/buy-used-Maruti-Baleno-2018-cars-New-Delhi-1002227101/',
 'https://www.cars24.com/buy-used-Maruti-Swift-2014-cars-New-Delhi-1006761808/',
 'https://www.cars24.com/buy-used-Hyundai-Grand-i10-2017-cars-Noida-1009773640/',
 'https://www.cars24.com/buy-used-Maruti-S-PRESSO-2020-cars-New-Delhi-1121186640/',
 'https://www.cars24.com/buy-used-Nissan-Terrano-2014-cars-Noida-1018156430/',
 'https://www.cars24.com/buy-used-Hyundai-Grand-i10-2013-cars-New-Delhi-1007007147/',
 'https://www.cars24.com/buy-used-Maruti-Alto-K10-2013-cars-New-Delhi-1000462828/',
 'https://www.cars24.com/buy-used-Renault-Kwid-2015-cars-Noida-1058492226/',
 'https://www.cars24.com/buy-used-Maruti-Alto-800-2018-cars-Gurgaon-1019933140/',
 'https://www.cars24.com/buy-used-Maruti-Swift-2014-cars-New-Delhi-1006904021/',
 'https://www.cars24.com/buy-used-Hyundai-Eon-2014-cars-New-Delhi-1004068804/',
 'https://www.cars24.com/buy-used-Hyundai-Eon-2016-cars-New-Delhi-1000952948/',
 'https://www.cars24.com/buy-used-Maruti-Alto-2011-cars-New-Delhi-1001628707/',
 'https://www.cars24.com/buy-used-Maruti-Alto-800-2016-cars-Faridabad-1122867340/',
 'https://www.cars24.com/buy-used-Maruti-Ritz-2010-cars-New-Delhi-1006454922/',
 'https://www.cars24.com/buy-used-Renault-Kwid-2020-cars-Noida-1003566743/',
 'https://www.cars24.com/buy-used-Hyundai-Elite-i20-2020-cars-Noida-1012381007/',
 'https://www.cars24.com/buy-used-Hyundai-Grand-i10-2014-cars-Faridabad-1052736921/',
 'https://www.cars24.com/buy-used-Volkswagen-Polo-2013-cars-New-Delhi-1008496320/',
 'https://www.cars24.com/buy-used-Honda-City-2012-cars-New-Delhi-1006237902/',
 'https://www.cars24.com/buy-used-Honda-City-2011-cars-Noida-1002302128/',
 'https://www.cars24.com/buy-used-Maruti-Alto-800-2018-cars-Noida-1059400929/',
 'https://www.cars24.com/buy-used-Maruti-Swift-Dzire-2012-cars-Noida-1004191221/',
 'https://www.cars24.com/buy-used-Hyundai-Elite-i20-2015-cars-New-Delhi-1001092631/',
 'https://www.cars24.com/buy-used-Maruti-Alto-2010-cars-Faridabad-1005599821/',
 'https://www.cars24.com/buy-used-Maruti-Alto-K10-2012-cars-New-Delhi-1056527145/',
 'https://www.cars24.com/buy-used-Maruti-Alto-2010-cars-New-Delhi-1011926721/',
 'https://www.cars24.com/buy-used-Maruti-Alto-800-2013-cars-Noida-1126289502/',
 'https://www.cars24.com/buy-used-Maruti-Swift-2015-cars-New-Delhi-1008576344/',
 'https://www.cars24.com/buy-used-Maruti-Swift-Dzire-2012-cars-Noida-1054564724/',
 'https://www.cars24.com/buy-used-Hyundai-Eon-2014-cars-Noida-1052229446/',
 'https://www.cars24.com/buy-used-Maruti-S-PRESSO-2020-cars-New-Delhi-1003019901/',
 'https://www.cars24.com/buy-used-Maruti-Alto-800-2018-cars-New-Delhi-1002521409/',
 'https://www.cars24.com/buy-used-KIA-SELTOS-2020-cars-Noida-1107863641/',
 'https://www.cars24.com/buy-used-Hyundai-Elite-i20-2018-cars-New-Delhi-1000648340/',
 'https://www.cars24.com/buy-used-Maruti-Swift-2019-cars-New-Delhi-1006508104/',
 'https://www.cars24.com/buy-used-Maruti-Celerio-2017-cars-Noida-1001466344/',
 'https://www.cars24.com/buy-used-Maruti-Swift-2015-cars-New-Delhi-1128961923/',
 'https://www.cars24.com/buy-used-Maruti-Alto-2020-cars-New-Delhi-1000531103/',
 'https://www.cars24.com/buy-used-Tata-Tiago-2019-cars-New-Delhi-1109026144/',
 'https://www.cars24.com/buy-used-Maruti-Ritz-2013-cars-Gurgaon-1000069840/',
 'https://www.cars24.com/buy-used-Toyota-Etios-Liva-2012-cars-New-Delhi-1015026022/',
 'https://www.cars24.com/buy-used-Maruti-Alto-K10-2016-cars-Noida-1058513046/',
 'https://www.cars24.com/buy-used-Datsun-Redi-Go-2018-cars-New-Delhi-1107817105/',
 'https://www.cars24.com/buy-used-Maruti-Alto-800-2015-cars-New-Delhi-1008586523/',
 'https://www.cars24.com/buy-used-Maruti-Alto-800-2018-cars-New-Delhi-1128097001/',
 'https://www.cars24.com/buy-used-Renault-Kwid-2016-cars-Gurgaon-1003756421/',
 'https://www.cars24.com/buy-used-Maruti-Alto-K10-2012-cars-New-Delhi-1009094843/',
 'https://www.cars24.com/buy-used-Maruti-Alto-800-2018-cars-Noida-1003741805/',
 'https://www.cars24.com/buy-used-Maruti-Alto-K10-2011-cars-New-Delhi-1003834424/',
 'https://www.cars24.com/buy-used-Maruti-Swift-2013-cars-New-Delhi-1007345320/',
 'https://www.cars24.com/buy-used-Tata-Tiago-2020-cars-New-Delhi-1109067605/',
 'https://www.cars24.com/buy-used-Maruti-Swift-Dzire-2013-cars-New-Delhi-1002841806/',
 'https://www.cars24.com/buy-used-Maruti-Swift-Dzire-2012-cars-New-Delhi-1001278746/',
 'https://www.cars24.com/buy-used-Renault-Kwid-2018-cars-Gurgaon-1106793543/',
 'https://www.cars24.com/buy-used-Renault-Kwid-2016-cars-New-Delhi-1009978401/',
 'https://www.cars24.com/buy-used-Maruti-IGNIS-2018-cars-New-Delhi-1000766143/',
 'https://www.cars24.com/buy-used-Maruti-Alto-800-2016-cars-New-Delhi-1053829642/',
 'https://www.cars24.com/buy-used-Honda-City-2013-cars-Noida-1009208129/',
 'https://www.cars24.com/buy-used-Maruti-Alto-2009-cars-New-Delhi-1056034720/',
 'https://www.cars24.com/buy-used-KIA-SONET-2020-cars-Gurgaon-1161614844/',
 'https://www.cars24.com/buy-used-Honda-Amaze-2015-cars-New-Delhi-1106970048/',
 'https://www.cars24.com/buy-used-Honda-City-2010-cars-New-Delhi-1014857941/',
 'https://www.cars24.com/buy-used-Maruti-Baleno-2019-cars-Noida-1054566326/',
 'https://www.cars24.com/buy-used-Honda-Brio-2014-cars-New-Delhi-1127149308/',
 'https://www.cars24.com/buy-used-Maruti-Swift-Dzire-2013-cars-New-Delhi-1001699649/',
 'https://www.cars24.com/buy-used-Renault-Kwid-2017-cars-New-Delhi-1001774129/',
 'https://www.cars24.com/buy-used-Maruti-A-Star-2009-cars-New-Delhi-1009156225/',
 'https://www.cars24.com/buy-used-Maruti-IGNIS-2017-cars-Gurgaon-1009349702/',
 'https://www.cars24.com/buy-used-Maruti-Ritz-2010-cars-New-Delhi-1003560723/',
 'https://www.cars24.com/buy-used-Maruti-Alto-2010-cars-New-Delhi-1002087345/',
 'https://www.cars24.com/buy-used-Maruti-Swift-2018-cars-New-Delhi-1003981809/',
 'https://www.cars24.com/buy-used-Hyundai-Grand-i10-2017-cars-New-Delhi-1008551009/',
 'https://www.cars24.com/buy-used-Maruti-Swift-2012-cars-New-Delhi-1001259345/',
 'https://www.cars24.com/buy-used-Hyundai-NEW-SANTRO-2019-cars-Noida-1005629801/',
 'https://www.cars24.com/buy-used-Maruti-Swift-2020-cars-New-Delhi-1019036847/',
 'https://www.cars24.com/buy-used-Renault-Kwid-2015-cars-New-Delhi-1008825401/',
 'https://www.cars24.com/buy-used-Maruti-Alto-800-2013-cars-New-Delhi-1007446325/',
 'https://www.cars24.com/buy-used-Maruti-Alto-800-2017-cars-New-Delhi-1008987447/',
 'https://www.cars24.com/buy-used-Maruti-Swift-Dzire-2011-cars-Noida-1006099149/',
 'https://www.cars24.com/buy-used-Maruti-Alto-K10-2011-cars-New-Delhi-1008679248/',
 'https://www.cars24.com/buy-used-Hyundai-Grand-i10-2017-cars-New-Delhi-1128020443/',
 'https://www.cars24.com/buy-used-Maruti-Alto-800-2018-cars-New-Delhi-1002094243/',
 'https://www.cars24.com/buy-used-Honda-Jazz-2015-cars-New-Delhi-1013057441/',
 'https://www.cars24.com/buy-used-Renault-Kwid-2016-cars-New-Delhi-1106363743/',
 'https://www.cars24.com/buy-used-Hyundai-Elite-i20-2017-cars-Noida-1129995409/',
 'https://www.cars24.com/buy-used-Maruti-Baleno-2015-cars-New-Delhi-1000925006/',
 'https://www.cars24.com/buy-used-Hyundai-Grand-i10-2019-cars-New-Delhi-1009658007/',
 'https://www.cars24.com/buy-used-Honda-Jazz-2012-cars-New-Delhi-1009699940/',
 'https://www.cars24.com/buy-used-Maruti-Alto-800-2018-cars-Faridabad-1107193946/',
 'https://www.cars24.com/buy-used-Maruti-Swift-2013-cars-New-Delhi-1008059245/',
 'https://www.cars24.com/buy-used-Maruti-Ciaz-2016-cars-New-Delhi-1004300043/',
 'https://www.cars24.com/buy-used-Hyundai-i10-2010-cars-Faridabad-1019422426/',
 'https://www.cars24.com/buy-used-Maruti-Swift-2013-cars-Noida-1122975028/',
 'https://www.cars24.com/buy-used-Maruti-Alto-2019-cars-New-Delhi-1008219109/',
 'https://www.cars24.com/buy-used-Maruti-Wagon-R-1.0-2015-cars-New-Delhi-1005363509/',
 'https://www.cars24.com/buy-used-Hyundai-Grand-i10-2017-cars-New-Delhi-1007385405/',
 'https://www.cars24.com/buy-used-Maruti-Alto-800-2012-cars-New-Delhi-1001028406/',
 'https://www.cars24.com/buy-used-Maruti-Swift-2012-cars-New-Delhi-1005864427/',
 'https://www.cars24.com/buy-used-Volkswagen-Ameo-2017-cars-New-Delhi-1005413342/',
 'https://www.cars24.com/buy-used-Maruti-Wagon-R-1.0-2010-cars-New-Delhi-1006968129/',
 'https://www.cars24.com/buy-used-Hyundai-Grand-i10-2018-cars-Gurgaon-1013086444/',
 'https://www.cars24.com/buy-used-Maruti-A-Star-2010-cars-New-Delhi-1007567648/',
 'https://www.cars24.com/buy-used-Maruti-Alto-800-2018-cars-New-Delhi-1056373422/',
 'https://www.cars24.com/buy-used-Maruti-Baleno-2016-cars-Noida-1001776148/',
 'https://www.cars24.com/buy-used-Maruti-Swift-Dzire-2012-cars-New-Delhi-1008329348/',
 'https://www.cars24.com/buy-used-Honda-Amaze-2018-cars-New-Delhi-1003159446/',
 'https://www.cars24.com/buy-used-Maruti-Swift-2015-cars-Noida-1120935629/',
 'https://www.cars24.com/buy-used-Maruti-Swift-2012-cars-Noida-1125358426/',
 'https://www.cars24.com/buy-used-Toyota-Glanza-2020-cars-Noida-1058151649/',
 'https://www.cars24.com/buy-used-Volkswagen-Polo-2016-cars-New-Delhi-1006408903/',
 'https://www.cars24.com/buy-used-Datsun-Redi-Go-2018-cars-Gurgaon-1004367542/',
 'https://www.cars24.com/buy-used-Hyundai-Grand-i10-2016-cars-New-Delhi-1001492429/',
 'https://www.cars24.com/buy-used-Renault-Kwid-2016-cars-Noida-1005037147/',
 'https://www.cars24.com/buy-used-Maruti-Baleno-2017-cars-New-Delhi-1005093841/',
 'https://www.cars24.com/buy-used-Maruti-Alto-K10-2019-cars-Noida-1516336028/',
 'https://www.cars24.com/buy-used-Maruti-Alto-2020-cars-New-Delhi-1126177803/',
 'https://www.cars24.com/buy-used-Hyundai-Grand-i10-2017-cars-New-Delhi-1016889704/',
 'https://www.cars24.com/buy-used-Renault-Duster-2013-cars-New-Delhi-1008468106/',
 'https://www.cars24.com/buy-used-Hyundai-Verna-2014-cars-New-Delhi-1009627101/',
 'https://www.cars24.com/buy-used-Hyundai-Grand-i10-2015-cars-New-Delhi-1005198105/',
 'https://www.cars24.com/buy-used-Hyundai-Elite-i20-2015-cars-New-Delhi-1004834027/',
 'https://www.cars24.com/buy-used-Maruti-Baleno-2018-cars-New-Delhi-1006332449/',
 'https://www.cars24.com/buy-used-Maruti-Baleno-2019-cars-New-Delhi-1000674549/',
 'https://www.cars24.com/buy-used-Maruti-Baleno-2018-cars-New-Delhi-1006319109/',

In [77]:


for url in product_urls:
    
    driver.get(url)
    time.sleep(1)
    
     #Extracting Price
    try:
        price = driver.find_element_by_xpath('//li[@class="_2DkPb"]/span[2]')     
        Price.append(price.text)  
    except NoSuchElementException:
        Price.append('-')  
    
    # Extracting Brand from xpath 
    try:
        brand = driver.find_element_by_xpath('//div[@class="_10kZS"]/h2')      
        Brand.append(brand.text)  
    except NoSuchElementException:
        Brand.append('-')    


    time.sleep(1)    
    # Extracting history    
    try: 
        history = driver.find_element_by_xpath('//ul[@class="_2KO13"]/li[1]/strong')  
        History.append(history.text)
    except NoSuchElementException:
        History.append('-')
        
    time.sleep(1)
    # Extracting owner
    try:
        owner = driver.find_element_by_xpath('//ul[@class="_2KO13"]/li[2]/strong')     
        Owner.append(owner.text)
    except NoSuchElementException:
        Owner.append('-')


    time.sleep(1)
    # Extracting 
    try:
        kilometer = driver.find_element_by_xpath('//ul[@class="_2KO13"]/li[3]/strong')  
        Kilometers.append(kilometer.text)
    except NoSuchElementException:
        Kilometers.append('-') 


    time.sleep(1)
    # Extracting fule type from xpath    
    try:
        fuel = driver.find_element_by_xpath('//ul[@class="_2KO13"]/li[4]/strong') 
        Fuel_type.append(fuel.text)
    except NoSuchElementException:
        Fuel_type.append('-')
        
        
    time.sleep(1)
    # Extracting last service
    try:
        last_service= driver.find_element_by_xpath('//ul[@class="_2KO13"]/li[5]/strong') 
        Last_service.append(last_service.text)
    except NoSuchElementException:
        Last_service.append('-')


    time.sleep(1)
    # Extracting transmission
    try:
        transmission= driver.find_element_by_xpath('//ul[@class="_2KO13"]/li[6]/strong') 
        Transmisson.append(transmission.text)
    except NoSuchElementException:
        Transmisson.append('-')


    time.sleep(1)
    # Extracting registration
    try:
        registration= driver.find_element_by_xpath('//ul[@class="_2KO13"]/li[7]/strong')  
        Registration.append(registration.text)
    except NoSuchElementException:
         Registration.append('-')


    time.sleep(1)
    # Extracting insurance       
    try:
        insurance= driver.find_element_by_xpath('//ul[@class="_2KO13"]/li[8]/strong')  
        Insurance.append(insurance.text)
    except NoSuchElementException:
        Insurance.append('-')
 
 # Extracting year of manufacturing     
    try:
        year= driver.find_element_by_xpath('//ul[@class="_2geSF"]/li[9]/strong')  
        Year_of_manufacturing.append(year.text)
    except NoSuchElementException:
        Year_of_manufacturing.append('-')

In [81]:
print(Price)

[' 5,66,399', ' 2,67,799', ' 5,59,499', ' 3,98,999', ' 6,41,499', ' 2,82,099', ' 8,07,999', ' 1,59,599', ' 1,74,799', ' 1,85,099', ' 2,03,599', ' 3,63,199', ' 3,90,199', ' 3,96,599', ' 2,23,799', ' 5,08,799', ' 4,12,199', ' 1,15,000', ' 2,41,399', ' 3,49,899', ' 2,10,000', ' 1,90,999', ' 2,49,699', ' 2,39,000', ' 4,52,799', ' 4,62,799', ' 6,71,199', ' 2,46,499', ' 1,93,000', ' 3,67,299', ' 2,98,099', ' 3,70,399', ' 5,25,000', ' 2,28,999', ' 2,63,399', ' 3,98,699', ' 2,01,699', ' 3,14,199', ' 3,10,899', ' 2,04,000', ' 4,38,999', ' 2,55,199', ' 2,71,299', ' 3,21,499', ' 2,41,799', ' 3,54,699', ' 4,50,399', ' 2,39,999', ' 2,67,000', ' 3,65,699', ' 4,57,699', ' 3,00,499', ' 2,25,099', ' 3,19,399', ' 2,50,699', ' 2,91,399', ' 3,99,399', ' 2,08,399', ' 3,75,799', ' 4,00,000', ' 3,13,099', ' 4,78,199', ' 3,09,299', ' 4,17,499', ' 3,84,599', ' 2,81,899', ' 3,25,199', ' 3,12,899', ' 2,98,199', ' 3,96,000', ' 4,99,999', ' 3,66,299', ' 6,30,399', ' 2,25,499', ' 2,05,599', ' 3,45,000', ' 1,80,599', ' 3,83,799', ' 4,51,599', ' 3,60,000', ' 2,42,399', ' 4,89,099', ' 3,28,199', ' 3,38,999', ' 3,10,399', ' 1,44,999', ' 2,80,899', ' 3,90,000', ' 3,51,399', ' 3,84,199', ' 4,49,399', ' 3,46,299', ' 3,08,499', ' 2,64,000', ' 2,28,000', ' 5,68,999', ' 5,44,199', ' 3,31,699', ' 2,32,399', ' 6,75,099', ' 3,53,489', ' 2,62,899', ' 4,08,000', ' 4,31,099', ' 3,62,099', ' 4,79,399', ' 3,29,099', ' 1,63,699', ' 5,25,499', ' 2,60,000', ' 2,22,899', ' 5,74,899', ' 4,60,799', ' 4,03,000', ' 4,46,799', ' 2,81,000', ' 4,14,000', ' 3,51,599', ' 4,93,799', ' 6,12,799', ' 3,85,000', ' 4,47,299', ' 4,43,499', ' 4,51,299', ' 3,81,599', ' 2,02,499', ' 2,80,399', ' 3,24,999', ' 3,93,099', ' 1,90,000', ' 2,08,399', ' 1,38,000', ' 2,43,899', ' 2,24,199', ' 4,11,999', ' 6,31,499', ' 3,61,699', ' 3,14,599', ' 3,57,000', ' 3,56,999', ' 3,07,299', ' 3,02,599', ' 5,06,199', ' 1,48,099', ' 2,10,799', ' 1,46,699', ' 2,10,599', ' 3,81,999', ' 3,32,799', ' 2,06,399', ' 4,06,899', ' 3,21,399', ' 10,81,299', ' 5,63,399', ' 5,16,000', ' 3,89,999', ' 3,86,599', ' 3,36,799', ' 4,40,399', ' 2,62,199', ' 2,91,699', ' 3,05,699', ' 3,59,199', ' 2,26,699', ' 2,99,499', ' 2,10,499', ' 1,88,000', ' 3,14,299', ' 1,61,399', ' 2,90,199', ' 5,05,399', ' 3,64,000', ' 3,06,899', ' 3,14,399', ' 3,25,000', ' 4,18,099', ' 2,83,699', ' 4,01,699', ' 1,43,799', ' 12,44,899', ' 3,45,899', ' 3,32,599', ' 5,92,599', ' 3,02,999', ' 3,47,799', ' 3,01,799', ' 1,47,899', ' 4,66,999', ' 2,39,199', ' 1,64,599', ' 4,91,099', ' 4,50,000', ' 4,16,599', ' 4,98,499', ' 5,42,599', ' 2,15,000', ' 1,87,199', ' 2,78,899', ' 2,70,099', ' 1,86,499', ' 4,34,599', ' 3,15,000', ' 5,23,199', ' 2,51,199', ' 5,10,199', ' 5,25,000', ' 5,25,000', ' 3,02,799', ' 2,77,499', ' 2,94,599', ' 6,00,000', ' 1,92,599', ' 3,10,699', ' 3,29,000', ' 2,81,000', ' 5,05,000', ' 1,85,000', ' 3,08,399', ' 3,99,899', ' 1,61,999', ' 4,87,699', ' 1,79,799', ' 2,79,999', ' 5,11,399', ' 3,01,699', ' 6,29,299', ' 4,26,599', ' 3,04,999', ' 7,02,499', ' 4,61,000', ' 3,38,199', ' 3,51,499', ' 2,34,099', ' 5,03,299', ' 3,41,699', ' 3,69,699', ' 4,65,799', ' 4,25,000', ' 4,98,399', ' 3,75,000', ' 5,06,499', ' 5,46,699', ' 6,45,699', ' 5,70,499', ' 8,55,000', ' 5,15,399', ' 3,70,099', ' 2,15,499', ' 2,73,000', ' 4,83,899', ' 8,42,099', ' 3,74,099', ' 5,74,799', ' 4,79,399', ' 3,31,299', ' 2,69,000', ' 3,52,599', ' 3,02,199', ' 6,25,099', ' 4,91,999', ' 2,49,599', ' 2,52,199', ' 3,85,699', ' 4,92,099', ' 3,15,999', ' 1,30,893', ' 5,15,499', ' 3,18,599', ' 2,73,599', ' 4,16,499', ' 4,10,799', ' 3,54,599', ' 2,90,000', ' 1,62,199', ' 4,37,699', ' 3,05,699', ' 7,56,799', ' 6,50,000', ' 3,33,299', ' 2,77,099', ' 5,18,899', ' 5,19,099', ' 2,82,199', ' 3,21,199', ' 5,95,199', ' 2,43,899', ' 2,76,000', ' 4,15,199', ' 3,62,999', ' 4,16,399', ' 6,23,599', ' 3,52,999', ' 6,20,299', ' 2,42,000', ' 1,25,984', ' 6,20,000', ' 3,14,199', ' 1,94,000', ' 4,11,399', ' 3,01,799', ' 3,22,599', ' 4,46,899', ' 2,78,699', ' 4,57,799', ' 6,64,999', ' 3,63,499', ' 5,25,000', ' 2,76,199', ' 3,33,299', ' 4,72,899', ' 3,49,399', ' 1,56,799', ' 1,62,499', ' 4,77,000', ' 4,12,000', ' 3,09,199', ' 1,95,199', ' 3,95,499', ' 4,69,399', ' 1,00,000', ' 2,90,799', ' 2,56,799', ' 4,49,000', ' 5,92,057', ' 2,02,399', ' 2,81,299', ' 4,24,799', ' 5,46,899', ' 8,44,699', ' 5,69,399', ' 3,99,000', ' 6,78,899', ' 3,04,899', ' 3,13,599', ' 3,12,799', ' 2,45,000', ' 6,18,000', ' 2,97,899', ' 2,69,499', ' 2,39,000', ' 3,20,699', ' 3,13,499', ' 3,44,099', ' 4,15,000', ' 2,96,899', ' 3,37,299', ' 3,71,899', ' 5,44,499', ' 5,97,099', ' 3,52,199', ' 2,50,000', ' 4,19,000', ' 6,07,499', ' 5,60,199', ' 4,20,699', ' 3,37,000', ' 4,26,899', ' 3,24,000', ' 2,04,199', ' 2,30,099', ' 1,26,799', ' 2,44,199', ' 2,63,999', ' 5,65,000', ' 3,82,000', ' 3,37,000', ' 5,33,199', ' 4,10,000', ' 4,05,000', ' 1,38,899', ' 4,75,000', ' 4,26,399', ' 3,41,000', ' 4,29,000', ' 4,36,599', ' 3,03,199', ' 1,67,599', ' 5,12,299', ' 2,25,000', ' 5,40,699', ' 4,15,499', ' 3,45,000', ' 4,45,899', ' 4,08,000', ' 4,27,699', ' 5,26,499', ' 3,60,299', ' 6,01,299', ' 5,04,899', ' 5,66,000', ' 3,36,299', ' 5,75,000', ' 2,14,399', ' 3,02,000', ' 4,72,099', ' 11,74,099', ' 6,30,000', ' 5,21,899', ' 2,45,000', ' 4,27,899', ' 3,67,199', ' 5,69,299', ' 4,84,699', ' 4,80,000', ' 5,92,999', ' 2,20,000', ' 2,59,999', ' 6,21,199', ' 3,73,299', ' 2,80,999', ' 2,11,299', ' 14,23,699', ' 3,58,399', ' 3,15,199', ' 2,26,699', ' 6,28,899', ' 6,10,000', ' 2,34,399', ' 4,82,099', ' 1,62,899', ' 5,46,699', ' 3,65,000', ' 3,15,899', ' 3,49,000', ' 5,03,199', ' 1,51,500', ' 3,93,399', ' 1,50,000', ' 3,50,000', ' 3,46,099', ' 2,07,000', ' 1,44,599', ' 2,13,399', ' 4,55,000', ' 3,65,000', ' 4,30,000', ' 2,76,099', ' 2,91,399', ' 3,17,199', ' 3,93,000', ' 3,93,000', ' 4,02,000', ' 4,60,000', ' 1,65,399', ' 3,75,000', ' 3,29,299', ' 7,13,499', ' 1,68,599', ' 4,19,000', ' 2,29,899', ' 2,78,399', ' 3,74,299', ' 4,30,799', ' 2,45,000', ' 4,50,199', ' 5,91,699', ' 2,85,999', ' 6,54,099', ' 6,49,699', ' 2,97,599', ' 3,00,000', ' 4,57,000', ' 2,72,599', ' 4,95,099', ' 3,75,000', ' 4,71,000', ' 2,40,299', ' 2,77,499', ' 3,29,000', ' 3,87,399', ' 6,64,299', ' 4,10,000', ' 3,08,699', ' 4,13,399', ' 4,25,999', ' 2,79,399', ' 3,85,899', ' 1,38,699', ' 3,48,899', ' 10,12,799', ' 2,76,399', ' 4,94,099', ' 8,51,000', ' 4,84,399', ' 1,41,399', ' 5,20,199', ' 4,19,000', ' 2,22,499', ' 7,30,000', ' 2,87,000', ' 4,39,000', ' 4,51,799', ' 3,70,000', ' 2,07,399', ' 3,59,999', ' 2,80,000', ' 1,22,000', ' 2,55,000', ' 1,12,799', ' 6,50,599', ' 2,15,899', ' 1,91,099', ' 2,68,399', ' 4,94,000', ' 2,02,899', ' 3,69,099', ' 2,83,000', ' 2,35,000', ' 4,75,000', ' 2,76,000', ' 3,58,599', ' 3,40,699', ' 5,97,000', ' 2,12,099', ' 4,87,399', ' 4,12,000', ' 4,40,000', ' 4,26,899', ' 5,05,899', ' 1,74,799', ' 5,91,899', ' 3,37,399', ' 4,18,000', ' 5,30,000', ' 2,56,899', ' 2,94,699', ' 7,90,000', ' 2,65,000', ' 3,30,799', ' 5,63,199', ' 3,81,099', ' 3,63,199', ' 3,43,000', ' 2,30,000', ' 3,33,199', ' 3,37,899', ' 3,43,399', ' 3,77,899', ' 2,59,099', ' 3,05,199', ' 3,33,899', ' 1,63,000', ' 1,53,699', ' 5,03,599', ' 5,12,199', ' 5,30,799', ' 3,26,499', ' 2,49,000', ' 2,37,099', ' 3,67,699', ' 2,79,199', ' 10,00,000', ' 2,32,299', ' 2,00,000', ' 4,68,399', ' 4,23,599', ' 2,35,000', ' 5,06,999', ' 1,90,000', ' 7,50,099', ' 3,49,000', ' 4,94,000', ' 3,17,699', ' 5,29,199', ' 2,71,000', ' 2,48,899', ' 4,38,599', ' 4,02,799', ' 6,41,099', ' 6,40,000', ' 9,47,399', ' 7,99,000', ' 2,22,899', ' 8,49,000', ' 6,30,799', ' 4,09,000', ' 1,38,000', ' 5,20,000', ' 4,75,499', ' 7,48,299', ' 2,95,899', ' 1,35,799', ' 6,82,499', ' 2,80,000', ' 1,62,000', ' 7,18,199', ' 3,33,599', ' 3,01,999', ' 7,01,500', ' 8,06,799', ' 3,10,000', ' 7,16,295', ' 3,12,000', ' 3,03,499', ' 5,26,699', ' 3,51,099', ' 4,90,000', ' 5,10,000', ' 4,23,599', ' 2,18,599', ' 1,54,000', ' 2,75,000', ' 3,27,299', ' 3,44,299', ' 2,25,000', ' 3,81,499', ' 1,97,999', ' 5,89,199', ' 2,70,000', ' 2,30,000', ' 7,99,000', ' 4,75,000', ' 2,85,699', ' 2,93,599', ' 7,06,999', ' 3,13,599', ' 6,29,399', ' 5,37,000', ' 4,88,099', ' 2,22,299', ' 4,57,399', ' 18,00,000', ' 8,23,199', ' 5,19,599', ' 2,15,000', ' 2,37,000', ' 4,54,000', ' 4,06,299', ' 5,33,000', ' 4,43,099', ' 6,98,399', ' 4,88,499', ' 3,13,599', ' 6,02,000', ' 7,49,499', ' 3,96,099', ' 3,67,099', ' 5,32,000', ' 7,24,199', ' 3,86,199', ' 4,19,099', ' 2,54,899', ' 2,07,299', ' 2,89,000', ' 3,99,000', ' 1,12,299', ' 1,86,999', ' 1,77,399', ' 2,54,000', ' 4,73,299', ' 1,89,199', ' 3,85,799', ' 3,59,299', ' 2,52,499', ' 5,28,699', ' 2,70,599', ' 17,00,399', ' 1,85,000', ' 1,80,399', ' 3,40,000', ' 3,21,999', ' 2,56,000', ' 2,68,999', ' 1,45,000', ' 3,68,799', ' 4,01,499', ' 12,15,000', ' 6,25,000', ' 5,16,000', ' 6,27,000', ' 2,75,000', ' 4,05,499', ' 1,86,099', ' 3,89,399', ' 6,60,000', ' 4,31,000', ' 2,06,000', ' 17,30,399', ' 4,52,999', ' 5,48,899', ' 3,94,999', ' 2,69,999', ' 2,33,099', ' 4,21,299', ' 3,79,299', ' 3,15,099', ' 8,63,499', ' 21,55,599', ' 2,60,000', ' 2,91,999', ' 7,25,000', ' 7,52,299', ' 7,08,299', ' 16,20,199', ' 2,11,000', ' 7,95,699', ' 4,52,599', ' 5,50,000', ' 1,65,000', ' 4,65,399']

In [105]:
Price = [' 5,66,399', ' 2,67,799', ' 5,59,499', ' 3,98,999', ' 6,41,499', ' 2,82,099', ' 8,07,999', ' 1,59,599', ' 1,74,799', ' 1,85,099', ' 2,03,599', ' 3,63,199', ' 3,90,199', ' 3,96,599', ' 2,23,799', ' 5,08,799', ' 4,12,199', ' 1,15,000', ' 2,41,399', ' 3,49,899', ' 2,10,000', ' 1,90,999', ' 2,49,699', ' 2,39,000', ' 4,52,799', ' 4,62,799', ' 6,71,199', ' 2,46,499', ' 1,93,000', ' 3,67,299', ' 2,98,099', ' 3,70,399', ' 5,25,000', ' 2,28,999', ' 2,63,399', ' 3,98,699', ' 2,01,699', ' 3,14,199', ' 3,10,899', ' 2,04,000', ' 4,38,999', ' 2,55,199', ' 2,71,299', ' 3,21,499', ' 2,41,799', ' 3,54,699', ' 4,50,399', ' 2,39,999', ' 2,67,000', ' 3,65,699', ' 4,57,699', ' 3,00,499', ' 2,25,099', ' 3,19,399', ' 2,50,699', ' 2,91,399', ' 3,99,399', ' 2,08,399', ' 3,75,799', ' 4,00,000', ' 3,13,099', ' 4,78,199', ' 3,09,299', ' 4,17,499', ' 3,84,599', ' 2,81,899', ' 3,25,199', ' 3,12,899', ' 2,98,199', ' 3,96,000', ' 4,99,999', ' 3,66,299', ' 6,30,399', ' 2,25,499', ' 2,05,599', ' 3,45,000', ' 1,80,599', ' 3,83,799', ' 4,51,599', ' 3,60,000', ' 2,42,399', ' 4,89,099', ' 3,28,199', ' 3,38,999', ' 3,10,399', ' 1,44,999', ' 2,80,899', ' 3,90,000', ' 3,51,399', ' 3,84,199', ' 4,49,399', ' 3,46,299', ' 3,08,499', ' 2,64,000', ' 2,28,000', ' 5,68,999', ' 5,44,199', ' 3,31,699', ' 2,32,399', ' 6,75,099', ' 3,53,489', ' 2,62,899', ' 4,08,000', ' 4,31,099', ' 3,62,099', ' 4,79,399', ' 3,29,099', ' 1,63,699', ' 5,25,499', ' 2,60,000', ' 2,22,899', ' 5,74,899', ' 4,60,799', ' 4,03,000', ' 4,46,799', ' 2,81,000', ' 4,14,000', ' 3,51,599', ' 4,93,799', ' 6,12,799', ' 3,85,000', ' 4,47,299', ' 4,43,499', ' 4,51,299', ' 3,81,599', ' 2,02,499', ' 2,80,399', ' 3,24,999', ' 3,93,099', ' 1,90,000', ' 2,08,399', ' 1,38,000', ' 2,43,899', ' 2,24,199', ' 4,11,999', ' 6,31,499', ' 3,61,699', ' 3,14,599', ' 3,57,000', ' 3,56,999', ' 3,07,299', ' 3,02,599', ' 5,06,199', ' 1,48,099', ' 2,10,799', ' 1,46,699', ' 2,10,599', ' 3,81,999', ' 3,32,799', ' 2,06,399', ' 4,06,899', ' 3,21,399', ' 10,81,299', ' 5,63,399', ' 5,16,000', ' 3,89,999', ' 3,86,599', ' 3,36,799', ' 4,40,399', ' 2,62,199', ' 2,91,699', ' 3,05,699', ' 3,59,199', ' 2,26,699', ' 2,99,499', ' 2,10,499', ' 1,88,000', ' 3,14,299', ' 1,61,399', ' 2,90,199', ' 5,05,399', ' 3,64,000', ' 3,06,899', ' 3,14,399', ' 3,25,000', ' 4,18,099', ' 2,83,699', ' 4,01,699', ' 1,43,799', ' 12,44,899', ' 3,45,899', ' 3,32,599', ' 5,92,599', ' 3,02,999', ' 3,47,799', ' 3,01,799', ' 1,47,899', ' 4,66,999', ' 2,39,199', ' 1,64,599', ' 4,91,099', ' 4,50,000', ' 4,16,599', ' 4,98,499', ' 5,42,599', ' 2,15,000', ' 1,87,199', ' 2,78,899', ' 2,70,099', ' 1,86,499', ' 4,34,599', ' 3,15,000', ' 5,23,199', ' 2,51,199', ' 5,10,199', ' 5,25,000', ' 5,25,000', ' 3,02,799', ' 2,77,499', ' 2,94,599', ' 6,00,000', ' 1,92,599', ' 3,10,699', ' 3,29,000', ' 2,81,000', ' 5,05,000', ' 1,85,000', ' 3,08,399', ' 3,99,899', ' 1,61,999', ' 4,87,699', ' 1,79,799', ' 2,79,999', ' 5,11,399', ' 3,01,699', ' 6,29,299', ' 4,26,599', ' 3,04,999', ' 7,02,499', ' 4,61,000', ' 3,38,199', ' 3,51,499', ' 2,34,099', ' 5,03,299', ' 3,41,699', ' 3,69,699', ' 4,65,799', ' 4,25,000', ' 4,98,399', ' 3,75,000', ' 5,06,499', ' 5,46,699', ' 6,45,699', ' 5,70,499', ' 8,55,000', ' 5,15,399', ' 3,70,099', ' 2,15,499', ' 2,73,000', ' 4,83,899', ' 8,42,099', ' 3,74,099', ' 5,74,799', ' 4,79,399', ' 3,31,299', ' 2,69,000', ' 3,52,599', ' 3,02,199', ' 6,25,099', ' 4,91,999', ' 2,49,599', ' 2,52,199', ' 3,85,699', ' 4,92,099', ' 3,15,999', ' 1,30,893', ' 5,15,499', ' 3,18,599', ' 2,73,599', ' 4,16,499', ' 4,10,799', ' 3,54,599', ' 2,90,000', ' 1,62,199', ' 4,37,699', ' 3,05,699', ' 7,56,799', ' 6,50,000', ' 3,33,299', ' 2,77,099', ' 5,18,899', ' 5,19,099', ' 2,82,199', ' 3,21,199', ' 5,95,199', ' 2,43,899', ' 2,76,000', ' 4,15,199', ' 3,62,999', ' 4,16,399', ' 6,23,599', ' 3,52,999', ' 6,20,299', ' 2,42,000', ' 1,25,984', ' 6,20,000', ' 3,14,199', ' 1,94,000', ' 4,11,399', ' 3,01,799', ' 3,22,599', ' 4,46,899', ' 2,78,699', ' 4,57,799', ' 6,64,999', ' 3,63,499', ' 5,25,000', ' 2,76,199', ' 3,33,299', ' 4,72,899', ' 3,49,399', ' 1,56,799', ' 1,62,499', ' 4,77,000', ' 4,12,000', ' 3,09,199', ' 1,95,199', ' 3,95,499', ' 4,69,399', ' 1,00,000', ' 2,90,799', ' 2,56,799', ' 4,49,000', ' 5,92,057', ' 2,02,399', ' 2,81,299', ' 4,24,799', ' 5,46,899', ' 8,44,699', ' 5,69,399', ' 3,99,000', ' 6,78,899', ' 3,04,899', ' 3,13,599', ' 3,12,799', ' 2,45,000', ' 6,18,000', ' 2,97,899', ' 2,69,499', ' 2,39,000', ' 3,20,699', ' 3,13,499', ' 3,44,099', ' 4,15,000', ' 2,96,899', ' 3,37,299', ' 3,71,899', ' 5,44,499', ' 5,97,099', ' 3,52,199', ' 2,50,000', ' 4,19,000', ' 6,07,499', ' 5,60,199', ' 4,20,699', ' 3,37,000', ' 4,26,899', ' 3,24,000', ' 2,04,199', ' 2,30,099', ' 1,26,799', ' 2,44,199', ' 2,63,999', ' 5,65,000', ' 3,82,000', ' 3,37,000', ' 5,33,199', ' 4,10,000', ' 4,05,000', ' 1,38,899', ' 4,75,000', ' 4,26,399', ' 3,41,000', ' 4,29,000', ' 4,36,599', ' 3,03,199', ' 1,67,599', ' 5,12,299', ' 2,25,000', ' 5,40,699', ' 4,15,499', ' 3,45,000', ' 4,45,899', ' 4,08,000', ' 4,27,699', ' 5,26,499', ' 3,60,299', ' 6,01,299', ' 5,04,899', ' 5,66,000', ' 3,36,299', ' 5,75,000', ' 2,14,399', ' 3,02,000', ' 4,72,099', ' 11,74,099', ' 6,30,000', ' 5,21,899', ' 2,45,000', ' 4,27,899', ' 3,67,199', ' 5,69,299', ' 4,84,699', ' 4,80,000', ' 5,92,999', ' 2,20,000', ' 2,59,999', ' 6,21,199', ' 3,73,299', ' 2,80,999', ' 2,11,299', ' 14,23,699', ' 3,58,399', ' 3,15,199', ' 2,26,699', ' 6,28,899', ' 6,10,000', ' 2,34,399', ' 4,82,099', ' 1,62,899', ' 5,46,699', ' 3,65,000', ' 3,15,899', ' 3,49,000', ' 5,03,199', ' 1,51,500', ' 3,93,399', ' 1,50,000', ' 3,50,000', ' 3,46,099', ' 2,07,000', ' 1,44,599', ' 2,13,399', ' 4,55,000', ' 3,65,000', ' 4,30,000', ' 2,76,099', ' 2,91,399', ' 3,17,199', ' 3,93,000', ' 3,93,000', ' 4,02,000', ' 4,60,000', ' 1,65,399', ' 3,75,000', ' 3,29,299', ' 7,13,499', ' 1,68,599', ' 4,19,000', ' 2,29,899', ' 2,78,399', ' 3,74,299', ' 4,30,799', ' 2,45,000', ' 4,50,199', ' 5,91,699', ' 2,85,999', ' 6,54,099', ' 6,49,699', ' 2,97,599', ' 3,00,000', ' 4,57,000', ' 2,72,599', ' 4,95,099', ' 3,75,000', ' 4,71,000', ' 2,40,299', ' 2,77,499', ' 3,29,000', ' 3,87,399', ' 6,64,299', ' 4,10,000', ' 3,08,699', ' 4,13,399', ' 4,25,999', ' 2,79,399', ' 3,85,899', ' 1,38,699', ' 3,48,899', ' 10,12,799', ' 2,76,399', ' 4,94,099', ' 8,51,000', ' 4,84,399', ' 1,41,399', ' 5,20,199', ' 4,19,000', ' 2,22,499', ' 7,30,000', ' 2,87,000', ' 4,39,000', ' 4,51,799', ' 3,70,000', ' 2,07,399', ' 3,59,999', ' 2,80,000', ' 1,22,000', ' 2,55,000', ' 1,12,799', ' 6,50,599', ' 2,15,899', ' 1,91,099', ' 2,68,399', ' 4,94,000', ' 2,02,899', ' 3,69,099', ' 2,83,000', ' 2,35,000', ' 4,75,000', ' 2,76,000', ' 3,58,599', ' 3,40,699', ' 5,97,000', ' 2,12,099', ' 4,87,399', ' 4,12,000', ' 4,40,000', ' 4,26,899', ' 5,05,899', ' 1,74,799', ' 5,91,899', ' 3,37,399', ' 4,18,000', ' 5,30,000', ' 2,56,899', ' 2,94,699', ' 7,90,000', ' 2,65,000', ' 3,30,799', ' 5,63,199', ' 3,81,099', ' 3,63,199', ' 3,43,000', ' 2,30,000', ' 3,33,199', ' 3,37,899', ' 3,43,399', ' 3,77,899', ' 2,59,099', ' 3,05,199', ' 3,33,899', ' 1,63,000', ' 1,53,699', ' 5,03,599', ' 5,12,199', ' 5,30,799', ' 3,26,499', ' 2,49,000', ' 2,37,099', ' 3,67,699', ' 2,79,199', ' 10,00,000', ' 2,32,299', ' 2,00,000', ' 4,68,399', ' 4,23,599', ' 2,35,000', ' 5,06,999', ' 1,90,000', ' 7,50,099', ' 3,49,000', ' 4,94,000', ' 3,17,699', ' 5,29,199', ' 2,71,000', ' 2,48,899', ' 4,38,599', ' 4,02,799', ' 6,41,099', ' 6,40,000', ' 9,47,399', ' 7,99,000', ' 2,22,899', ' 8,49,000', ' 6,30,799', ' 4,09,000', ' 1,38,000', ' 5,20,000', ' 4,75,499', ' 7,48,299', ' 2,95,899', ' 1,35,799', ' 6,82,499', ' 2,80,000', ' 1,62,000', ' 7,18,199', ' 3,33,599', ' 3,01,999', ' 7,01,500', ' 8,06,799', ' 3,10,000', ' 7,16,295', ' 3,12,000', ' 3,03,499', ' 5,26,699', ' 3,51,099', ' 4,90,000', ' 5,10,000', ' 4,23,599', ' 2,18,599', ' 1,54,000', ' 2,75,000', ' 3,27,299', ' 3,44,299', ' 2,25,000', ' 3,81,499', ' 1,97,999', ' 5,89,199', ' 2,70,000', ' 2,30,000', ' 7,99,000', ' 4,75,000', ' 2,85,699', ' 2,93,599', ' 7,06,999', ' 3,13,599', ' 6,29,399', ' 5,37,000', ' 4,88,099', ' 2,22,299', ' 4,57,399', ' 18,00,000', ' 8,23,199', ' 5,19,599', ' 2,15,000', ' 2,37,000', ' 4,54,000', ' 4,06,299', ' 5,33,000', ' 4,43,099', ' 6,98,399', ' 4,88,499', ' 3,13,599', ' 6,02,000', ' 7,49,499', ' 3,96,099', ' 3,67,099', ' 5,32,000', ' 7,24,199', ' 3,86,199', ' 4,19,099', ' 2,54,899', ' 2,07,299', ' 2,89,000', ' 3,99,000', ' 1,12,299', ' 1,86,999', ' 1,77,399', ' 2,54,000', ' 4,73,299', ' 1,89,199', ' 3,85,799', ' 3,59,299', ' 2,52,499', ' 5,28,699', ' 2,70,599', ' 17,00,399', ' 1,85,000', ' 1,80,399', ' 3,40,000', ' 3,21,999', ' 2,56,000', ' 2,68,999', ' 1,45,000', ' 3,68,799', ' 4,01,499', ' 12,15,000', ' 6,25,000', ' 5,16,000', ' 6,27,000', ' 2,75,000', ' 4,05,499', ' 1,86,099', ' 3,89,399', ' 6,60,000', ' 4,31,000', ' 2,06,000', ' 17,30,399', ' 4,52,999', ' 5,48,899', ' 3,94,999', ' 2,69,999', ' 2,33,099', ' 4,21,299', ' 3,79,299', ' 3,15,099', ' 8,63,499', ' 21,55,599', ' 2,60,000', ' 2,91,999', ' 7,25,000', ' 7,52,299', ' 7,08,299', ' 16,20,199', ' 2,11,000', ' 7,95,699', ' 4,52,599', ' 5,50,000', ' 1,65,000', ' 4,65,399']
 

  
# printing original list
print("The original list : " + str(Price))

The original list : [' 5,66,399', ' 2,67,799', ' 5,59,499', ' 3,98,999', ' 6,41,499', ' 2,82,099', ' 8,07,999', ' 1,59,599', ' 1,74,799', ' 1,85,099', ' 2,03,599', ' 3,63,199', ' 3,90,199', ' 3,96,599', ' 2,23,799', ' 5,08,799', ' 4,12,199', ' 1,15,000', ' 2,41,399', ' 3,49,899', ' 2,10,000', ' 1,90,999', ' 2,49,699', ' 2,39,000', ' 4,52,799', ' 4,62,799', ' 6,71,199', ' 2,46,499', ' 1,93,000', ' 3,67,299', ' 2,98,099', ' 3,70,399', ' 5,25,000', ' 2,28,999', ' 2,63,399', ' 3,98,699', ' 2,01,699', ' 3,14,199', ' 3,10,899', ' 2,04,000', ' 4,38,999', ' 2,55,199', ' 2,71,299', ' 3,21,499', ' 2,41,799', ' 3,54,699', ' 4,50,399', ' 2,39,999', ' 2,67,000', ' 3,65,699', ' 4,57,699', ' 3,00,499', ' 2,25,099', ' 3,19,399', ' 2,50,699', ' 2,91,399', ' 3,99,399', ' 2,08,399', ' 3,75,799', ' 4,00,000', ' 3,13,099', ' 4,78,199', ' 3,09,299', ' 4,17,499', ' 3,84,599', ' 2,81,899', ' 3,25,199', ' 3,12,899', ' 2,98,199', ' 3,96,000', ' 4,99,999', ' 3,66,299', ' 6,30,399', ' 2,25,499', ' 2,05,599', ' 3,45,000', ' 1,80,599', ' 3,83,799', ' 4,51,599', ' 3,60,000', ' 2,42,399', ' 4,89,099', ' 3,28,199', ' 3,38,999', ' 3,10,399', ' 1,44,999', ' 2,80,899', ' 3,90,000', ' 3,51,399', ' 3,84,199', ' 4,49,399', ' 3,46,299', ' 3,08,499', ' 2,64,000', ' 2,28,000', ' 5,68,999', ' 5,44,199', ' 3,31,699', ' 2,32,399', ' 6,75,099', ' 3,53,489', ' 2,62,899', ' 4,08,000', ' 4,31,099', ' 3,62,099', ' 4,79,399', ' 3,29,099', ' 1,63,699', ' 5,25,499', ' 2,60,000', ' 2,22,899', ' 5,74,899', ' 4,60,799', ' 4,03,000', ' 4,46,799', ' 2,81,000', ' 4,14,000', ' 3,51,599', ' 4,93,799', ' 6,12,799', ' 3,85,000', ' 4,47,299', ' 4,43,499', ' 4,51,299', ' 3,81,599', ' 2,02,499', ' 2,80,399', ' 3,24,999', ' 3,93,099', ' 1,90,000', ' 2,08,399', ' 1,38,000', ' 2,43,899', ' 2,24,199', ' 4,11,999', ' 6,31,499', ' 3,61,699', ' 3,14,599', ' 3,57,000', ' 3,56,999', ' 3,07,299', ' 3,02,599', ' 5,06,199', ' 1,48,099', ' 2,10,799', ' 1,46,699', ' 2,10,599', ' 3,81,999', ' 3,32,799', ' 2,06,399', ' 4,06,899', ' 3,21,399', ' 10,81,299', ' 5,63,399', ' 5,16,000', ' 3,89,999', ' 3,86,599', ' 3,36,799', ' 4,40,399', ' 2,62,199', ' 2,91,699', ' 3,05,699', ' 3,59,199', ' 2,26,699', ' 2,99,499', ' 2,10,499', ' 1,88,000', ' 3,14,299', ' 1,61,399', ' 2,90,199', ' 5,05,399', ' 3,64,000', ' 3,06,899', ' 3,14,399', ' 3,25,000', ' 4,18,099', ' 2,83,699', ' 4,01,699', ' 1,43,799', ' 12,44,899', ' 3,45,899', ' 3,32,599', ' 5,92,599', ' 3,02,999', ' 3,47,799', ' 3,01,799', ' 1,47,899', ' 4,66,999', ' 2,39,199', ' 1,64,599', ' 4,91,099', ' 4,50,000', ' 4,16,599', ' 4,98,499', ' 5,42,599', ' 2,15,000', ' 1,87,199', ' 2,78,899', ' 2,70,099', ' 1,86,499', ' 4,34,599', ' 3,15,000', ' 5,23,199', ' 2,51,199', ' 5,10,199', ' 5,25,000', ' 5,25,000', ' 3,02,799', ' 2,77,499', ' 2,94,599', ' 6,00,000', ' 1,92,599', ' 3,10,699', ' 3,29,000', ' 2,81,000', ' 5,05,000', ' 1,85,000', ' 3,08,399', ' 3,99,899', ' 1,61,999', ' 4,87,699', ' 1,79,799', ' 2,79,999', ' 5,11,399', ' 3,01,699', ' 6,29,299', ' 4,26,599', ' 3,04,999', ' 7,02,499', ' 4,61,000', ' 3,38,199', ' 3,51,499', ' 2,34,099', ' 5,03,299', ' 3,41,699', ' 3,69,699', ' 4,65,799', ' 4,25,000', ' 4,98,399', ' 3,75,000', ' 5,06,499', ' 5,46,699', ' 6,45,699', ' 5,70,499', ' 8,55,000', ' 5,15,399', ' 3,70,099', ' 2,15,499', ' 2,73,000', ' 4,83,899', ' 8,42,099', ' 3,74,099', ' 5,74,799', ' 4,79,399', ' 3,31,299', ' 2,69,000', ' 3,52,599', ' 3,02,199', ' 6,25,099', ' 4,91,999', ' 2,49,599', ' 2,52,199', ' 3,85,699', ' 4,92,099', ' 3,15,999', ' 1,30,893', ' 5,15,499', ' 3,18,599', ' 2,73,599', ' 4,16,499', ' 4,10,799', ' 3,54,599', ' 2,90,000', ' 1,62,199', ' 4,37,699', ' 3,05,699', ' 7,56,799', ' 6,50,000', ' 3,33,299', ' 2,77,099', ' 5,18,899', ' 5,19,099', ' 2,82,199', ' 3,21,199', ' 5,95,199', ' 2,43,899', ' 2,76,000', ' 4,15,199', ' 3,62,999', ' 4,16,399', ' 6,23,599', ' 3,52,999', ' 6,20,299', ' 2,42,000', ' 1,25,984', ' 6,20,000', ' 3,14,199', ' 1,94,000', ' 4,11,399', ' 3,01,799', ' 3,22,599', ' 4,46,899', ' 2,78,699', ' 4,57,799', ' 6,64,999', ' 3,63,499', ' 5,25,000', ' 2,76,199', ' 3,33,299', ' 4,72,899', ' 3,49,399', ' 1,56,799', ' 1,62,499', ' 4,77,000', ' 4,12,000', ' 3,09,199', ' 1,95,199', ' 3,95,499', ' 4,69,399', ' 1,00,000', ' 2,90,799', ' 2,56,799', ' 4,49,000', ' 5,92,057', ' 2,02,399', ' 2,81,299', ' 4,24,799', ' 5,46,899', ' 8,44,699', ' 5,69,399', ' 3,99,000', ' 6,78,899', ' 3,04,899', ' 3,13,599', ' 3,12,799', ' 2,45,000', ' 6,18,000', ' 2,97,899', ' 2,69,499', ' 2,39,000', ' 3,20,699', ' 3,13,499', ' 3,44,099', ' 4,15,000', ' 2,96,899', ' 3,37,299', ' 3,71,899', ' 5,44,499', ' 5,97,099', ' 3,52,199', ' 2,50,000', ' 4,19,000', ' 6,07,499', ' 5,60,199', ' 4,20,699', ' 3,37,000', ' 4,26,899', ' 3,24,000', ' 2,04,199', ' 2,30,099', ' 1,26,799', ' 2,44,199', ' 2,63,999', ' 5,65,000', ' 3,82,000', ' 3,37,000', ' 5,33,199', ' 4,10,000', ' 4,05,000', ' 1,38,899', ' 4,75,000', ' 4,26,399', ' 3,41,000', ' 4,29,000', ' 4,36,599', ' 3,03,199', ' 1,67,599', ' 5,12,299', ' 2,25,000', ' 5,40,699', ' 4,15,499', ' 3,45,000', ' 4,45,899', ' 4,08,000', ' 4,27,699', ' 5,26,499', ' 3,60,299', ' 6,01,299', ' 5,04,899', ' 5,66,000', ' 3,36,299', ' 5,75,000', ' 2,14,399', ' 3,02,000', ' 4,72,099', ' 11,74,099', ' 6,30,000', ' 5,21,899', ' 2,45,000', ' 4,27,899', ' 3,67,199', ' 5,69,299', ' 4,84,699', ' 4,80,000', ' 5,92,999', ' 2,20,000', ' 2,59,999', ' 6,21,199', ' 3,73,299', ' 2,80,999', ' 2,11,299', ' 14,23,699', ' 3,58,399', ' 3,15,199', ' 2,26,699', ' 6,28,899', ' 6,10,000', ' 2,34,399', ' 4,82,099', ' 1,62,899', ' 5,46,699', ' 3,65,000', ' 3,15,899', ' 3,49,000', ' 5,03,199', ' 1,51,500', ' 3,93,399', ' 1,50,000', ' 3,50,000', ' 3,46,099', ' 2,07,000', ' 1,44,599', ' 2,13,399', ' 4,55,000', ' 3,65,000', ' 4,30,000', ' 2,76,099', ' 2,91,399', ' 3,17,199', ' 3,93,000', ' 3,93,000', ' 4,02,000', ' 4,60,000', ' 1,65,399', ' 3,75,000', ' 3,29,299', ' 7,13,499', ' 1,68,599', ' 4,19,000', ' 2,29,899', ' 2,78,399', ' 3,74,299', ' 4,30,799', ' 2,45,000', ' 4,50,199', ' 5,91,699', ' 2,85,999', ' 6,54,099', ' 6,49,699', ' 2,97,599', ' 3,00,000', ' 4,57,000', ' 2,72,599', ' 4,95,099', ' 3,75,000', ' 4,71,000', ' 2,40,299', ' 2,77,499', ' 3,29,000', ' 3,87,399', ' 6,64,299', ' 4,10,000', ' 3,08,699', ' 4,13,399', ' 4,25,999', ' 2,79,399', ' 3,85,899', ' 1,38,699', ' 3,48,899', ' 10,12,799', ' 2,76,399', ' 4,94,099', ' 8,51,000', ' 4,84,399', ' 1,41,399', ' 5,20,199', ' 4,19,000', ' 2,22,499', ' 7,30,000', ' 2,87,000', ' 4,39,000', ' 4,51,799', ' 3,70,000', ' 2,07,399', ' 3,59,999', ' 2,80,000', ' 1,22,000', ' 2,55,000', ' 1,12,799', ' 6,50,599', ' 2,15,899', ' 1,91,099', ' 2,68,399', ' 4,94,000', ' 2,02,899', ' 3,69,099', ' 2,83,000', ' 2,35,000', ' 4,75,000', ' 2,76,000', ' 3,58,599', ' 3,40,699', ' 5,97,000', ' 2,12,099', ' 4,87,399', ' 4,12,000', ' 4,40,000', ' 4,26,899', ' 5,05,899', ' 1,74,799', ' 5,91,899', ' 3,37,399', ' 4,18,000', ' 5,30,000', ' 2,56,899', ' 2,94,699', ' 7,90,000', ' 2,65,000', ' 3,30,799', ' 5,63,199', ' 3,81,099', ' 3,63,199', ' 3,43,000', ' 2,30,000', ' 3,33,199', ' 3,37,899', ' 3,43,399', ' 3,77,899', ' 2,59,099', ' 3,05,199', ' 3,33,899', ' 1,63,000', ' 1,53,699', ' 5,03,599', ' 5,12,199', ' 5,30,799', ' 3,26,499', ' 2,49,000', ' 2,37,099', ' 3,67,699', ' 2,79,199', ' 10,00,000', ' 2,32,299', ' 2,00,000', ' 4,68,399', ' 4,23,599', ' 2,35,000', ' 5,06,999', ' 1,90,000', ' 7,50,099', ' 3,49,000', ' 4,94,000', ' 3,17,699', ' 5,29,199', ' 2,71,000', ' 2,48,899', ' 4,38,599', ' 4,02,799', ' 6,41,099', ' 6,40,000', ' 9,47,399', ' 7,99,000', ' 2,22,899', ' 8,49,000', ' 6,30,799', ' 4,09,000', ' 1,38,000', ' 5,20,000', ' 4,75,499', ' 7,48,299', ' 2,95,899', ' 1,35,799', ' 6,82,499', ' 2,80,000', ' 1,62,000', ' 7,18,199', ' 3,33,599', ' 3,01,999', ' 7,01,500', ' 8,06,799', ' 3,10,000', ' 7,16,295', ' 3,12,000', ' 3,03,499', ' 5,26,699', ' 3,51,099', ' 4,90,000', ' 5,10,000', ' 4,23,599', ' 2,18,599', ' 1,54,000', ' 2,75,000', ' 3,27,299', ' 3,44,299', ' 2,25,000', ' 3,81,499', ' 1,97,999', ' 5,89,199', ' 2,70,000', ' 2,30,000', ' 7,99,000', ' 4,75,000', ' 2,85,699', ' 2,93,599', ' 7,06,999', ' 3,13,599', ' 6,29,399', ' 5,37,000', ' 4,88,099', ' 2,22,299', ' 4,57,399', ' 18,00,000', ' 8,23,199', ' 5,19,599', ' 2,15,000', ' 2,37,000', ' 4,54,000', ' 4,06,299', ' 5,33,000', ' 4,43,099', ' 6,98,399', ' 4,88,499', ' 3,13,599', ' 6,02,000', ' 7,49,499', ' 3,96,099', ' 3,67,099', ' 5,32,000', ' 7,24,199', ' 3,86,199', ' 4,19,099', ' 2,54,899', ' 2,07,299', ' 2,89,000', ' 3,99,000', ' 1,12,299', ' 1,86,999', ' 1,77,399', ' 2,54,000', ' 4,73,299', ' 1,89,199', ' 3,85,799', ' 3,59,299', ' 2,52,499', ' 5,28,699', ' 2,70,599', ' 17,00,399', ' 1,85,000', ' 1,80,399', ' 3,40,000', ' 3,21,999', ' 2,56,000', ' 2,68,999', ' 1,45,000', ' 3,68,799', ' 4,01,499', ' 12,15,000', ' 6,25,000', ' 5,16,000', ' 6,27,000', ' 2,75,000', ' 4,05,499', ' 1,86,099', ' 3,89,399', ' 6,60,000', ' 4,31,000', ' 2,06,000', ' 17,30,399', ' 4,52,999', ' 5,48,899', ' 3,94,999', ' 2,69,999', ' 2,33,099', ' 4,21,299', ' 3,79,299', ' 3,15,099', ' 8,63,499', ' 21,55,599', ' 2,60,000', ' 2,91,999', ' 7,25,000', ' 7,52,299', ' 7,08,299', ' 16,20,199', ' 2,11,000', ' 7,95,699', ' 4,52,599', ' 5,50,000', ' 1,65,000', ' 4,65,399']

[]

In [83]:
print(Kilometers)

['1,755 km', '10,957 km', '3,570 km', '3,176 km', '6,460 km', '8,501 km', '2,589 km', '29,645 km', '50,250 km', '41,762 km', '24,353 km', '17,839 km', '7,556 km', '24,022 km', '29,683 km', '7,524 km', '4,093 km', '55,824 km', '35,726 km', '11,026 km', '26,941 km', '25,610 km', '47,611 km', '26,887 km', '6,644 km', '22,514 km', '4,855 km', '44,518 km', '15,303 km', '39,106 km', '10,608 km', '21,591 km', '11,903 km', '17,374 km', '17,637 km', '63,695 km', '35,139 km', '19,045 km', '7,093 km', '23,009 km', '15,129 km', '20,026 km', '42,961 km', '31,999 km', '41,832 km', '33,554 km', '26,243 km', '22,423 km', '20,494 km', '27,915 km', '25,306 km', '40,551 km', '41,213 km', '2,147 km', '9,217 km', '18,797 km', '41,581 km', '28,685 km', '6,054 km', '13,203 km', '32,281 km', '12,268 km', '8,300 km', '31,995 km', '28,452 km', '12,535 km', '4,313 km', '22,286 km', '22,176 km', '9,165 km', '16,528 km', '20,685 km', '14,718 km', '21,235 km', '29,101 km', '15,878 km', '41,190 km', '3,276 km', '15,754 km', '20,040 km', '35,522 km', '9,353 km', '29,449 km', '11,691 km', '12,342 km', '34,611 km', '24,069 km', '31,062 km', '2,723 km', '3,403 km', '41,405 km', '5,062 km', '49,654 km', '32,360 km', '24,227 km', '5,645 km', '12,301 km', '3,237 km', '44,703 km', '7,294 km', '36,545 km', '36,628 km', '24,140 km', '24,804 km', '15,110 km', '7,927 km', '4,344 km', '40,666 km', '38,779 km', '43,079 km', '42,373 km', '22,913 km', '42,540 km', '33,141 km', '37,734 km', '29,715 km', '27,389 km', '44,284 km', '27,101 km', '19,385 km', '31,059 km', '24,487 km', '5,894 km', '43,866 km', '47,223 km', '40,184 km', '20,231 km', '13,291 km', '24,708 km', '26,245 km', '47,215 km', '44,419 km', '41,853 km', '26,740 km', '4,415 km', '16,962 km', '22,836 km', '43,144 km', '55,376 km', '56,073 km', '5,851 km', '48,390 km', '58,080 km', '48,254 km', '33,175 km', '56,231 km', '46,286 km', '34,854 km', '42,478 km', '40,438 km', '6,100 km', '11,961 km', '4,968 km', '5,937 km', '8,362 km', '41,914 km', '48,615 km', '11,558 km', '32,535 km', '36,846 km', '31,240 km', '31,430 km', '23,791 km', '26,525 km', '19,405 km', '27,806 km', '50,067 km', '20,589 km', '64,499 km', '39,124 km', '9,678 km', '34,878 km', '49,120 km', '11,978 km', '11,123 km', '30,591 km', '30,140 km', '40,028 km', '35,919 km', '3,421 km', '40,776 km', '62,808 km', '14,295 km', '39,412 km', '39,947 km', '32,258 km', '30,403 km', '17,466 km', '54,953 km', '41,508 km', '20,380 km', '22,455 km', '15,538 km', '1,571 km', '6,623 km', '32,879 km', '41,465 km', '9,527 km', '57,458 km', '51,523 km', '37,323 km', '13,074 km', '33,701 km', '42,466 km', '18,213 km', '14,807 km', '11,558 km', '32,514 km', '16,323 km', '43,265 km', '26,477 km', '47,870 km', '45,589 km', '10,554 km', '38,833 km', '8,055 km', '58,918 km', '35,969 km', '39,930 km', '5,78,889 km', '16,558 km', '57,489 km', '20,128 km', '33,427 km', '61,164 km', '1,816 km', '27,735 km', '30,589 km', '12,870 km', '30,278 km', '21,341 km', '34,013 km', '40,124 km', '12,117 km', '13,026 km', '11,520 km', '24,571 km', '41,160 km', '44,585 km', '41,994 km', '33,602 km', '16,170 km', '3,947 km', '21,740 km', '6,170 km', '22,047 km', '51,416 km', '31,745 km', '36,764 km', '24,343 km', '6,277 km', '9,998 km', '12,481 km', '49,692 km', '57,087 km', '39,756 km', '47,405 km', '13,953 km', '9,483 km', '44,579 km', '37,134 km', '36,928 km', '25,823 km', '53,143 km', '1,370 km', '51,217 km', '25,595 km', '29,104 km', '43,574 km', '29,993 km', '30,373 km', '33,730 km', '11,373 km', '80,346 km', '48,180 km', '47,140 km', '7,177 km', '15,847 km', '9,641 km', '47,037 km', '23,303 km', '26,788 km', '21,305 km', '20,764 km', '19,675 km', '52,814 km', '52,875 km', '17,058 km', '52,072 km', '44,379 km', '26,584 km', '32,744 km', '24,744 km', '51,833 km', '64,692 km', '14,674 km', '64,620 km', '39,070 km', '46,856 km', '82,064 km', '41,441 km', '16,646 km', '32,519 km', '57,851 km', '26,264 km', '52,299 km', '20,110 km', '5,383 km', '48,295 km', '48,789 km', '43,986 km', '56,140 km', '70,345 km', '33,254 km', '37,149 km', '38,602 km', '52,685 km', '11,873 km', '11,213 km', '37,315 km', '15,838 km', '23,227 km', '7,119 km', '22,377 km', '54,362 km', '56,121 km', '43,196 km', '35,236 km', '15,885 km', '23,580 km', '57,447 km', '15,096 km', '45,994 km', '50,647 km', '45,014 km', '20,439 km', '4,110 km', '28,959 km', '67,752 km', '56,869 km', '40,273 km', '53,024 km', '60,133 km', '59,984 km', '34,273 km', '35,132 km', '60,901 km', '19,440 km', '29,959 km', '35,578 km', '18,834 km', '52,981 km', '14,959 km', '25,937 km', '37,481 km', '45,321 km', '62,440 km', '38,766 km', '45,715 km', '58,581 km', '56,724 km', '27,979 km', '34,587 km', '6,648 km', '36,571 km', '45,306 km', '54,313 km', '58,659 km', '51,842 km', '31,579 km', '39,817 km', '15,673 km', '13,079 km', '46,068 km', '68,792 km', '61,443 km', '59,370 km', '33,001 km', '37,380 km', '31,514 km', '50,787 km', '35,650 km', '62,254 km', '53,303 km', '35,013 km', '31,907 km', '60,222 km', '48,843 km', '37,628 km', '22,197 km', '45,478 km', '23,367 km', '57,841 km', '20,622 km', '52,580 km', '7,375 km', '21,828 km', '32,712 km', '70,813 km', '68,161 km', '69,818 km', '25,334 km', '34,135 km', '10,837 km', '32,617 km', '46,441 km', '43,279 km', '30,418 km', '22,651 km', '65,916 km', '56,037 km', '10,671 km', '3,212 km', '58,850 km', '46,227 km', '57,731 km', '15,661 km', '76,880 km', '39,203 km', '83,736 km', '35,812 km', '20,883 km', '56,317 km', '48,858 km', '37,998 km', '80,707 km', '61,924 km', '67,593 km', '42,811 km', '54,595 km', '44,248 km', '38,347 km', '50,024 km', '39,455 km', '20,875 km', '48,260 km', '95,472 km', '75,004 km', '37,491 km', '55,255 km', '55,255 km', '52,444 km', '31,430 km', '44,191 km', '26,159 km', '58,508 km', '40,707 km', '55,510 km', '30,161 km', '46,028 km', '68,356 km', '37,687 km', '39,168 km', '39,077 km', '49,938 km', '36,933 km', '29,623 km', '33,572 km', '55,401 km', '67,892 km', '55,879 km', '5,087 km', '32,716 km', '42,204 km', '61,445 km', '49,289 km', '54,899 km', '33,424 km', '47,293 km', '48,947 km', '41,182 km', '45,259 km', '65,946 km', '86,440 km', '87,865 km', '81,442 km', '88,442 km', '60,080 km', '55,728 km', '9,114 km', '76,740 km', '49,004 km', '13,290 km', '56,968 km', '70,239 km', '45,517 km', '62,332 km', '80,042 km', '11,664 km', '52,965 km', '46,137 km', '42,049 km', '36,606 km', '77,639 km', '56,109 km', '11,146 km', '69,228 km', '29,793 km', '54,799 km', '29,262 km', '44,636 km', '60,784 km', '65,480 km', '43,018 km', '67,573 km', '67,696 km', '34,375 km', '26,280 km', '56,731 km', '68,830 km', '24,090 km', '68,109 km', '18,979 km', '71,992 km', '65,134 km', '41,263 km', '33,725 km', '44,435 km', '62,079 km', '89,412 km', '9,870 km', '67,011 km', '42,512 km', '59,707 km', '60,016 km', '67,401 km', '28,932 km', '51,552 km', '50,045 km', '52,409 km', '62,600 km', '67,522 km', '65,906 km', '62,697 km', '62,609 km', '59,867 km', '70,637 km', '62,253 km', '63,266 km', '68,930 km', '58,341 km', '86,423 km', '62,155 km', '50,827 km', '51,767 km', '32,885 km', '58,664 km', '50,475 km', '85,837 km', '68,437 km', '45,366 km', '7,041 km', '58,616 km', '44,386 km', '57,528 km', '33,585 km', '26,271 km', '71,014 km', '76,032 km', '25,800 km', '64,991 km', '56,811 km', '1,19,774 km', '44,364 km', '39,378 km', '70,590 km', '62,045 km', '19,104 km', '39,089 km', '12,403 km', '13,991 km', '19,776 km', '70,210 km', '15,000 km', '63,747 km', '56,930 km', '33,246 km', '19,951 km', '51,981 km', '27,113 km', '94,644 km', '81,050 km', '38,706 km', '29,465 km', '67,532 km', '34,119 km', '62,602 km', '62,639 km', '20,444 km', '17,831 km', '58,697 km', '21,098 km', '44,822 km', '80,936 km', '63,380 km', '68,468 km', '43,280 km', '68,242 km', '59,818 km', '70,017 km', '63,927 km', '38,464 km', '72,089 km', '61,261 km', '42,017 km', '69,373 km', '66,835 km', '62,284 km', '39,366 km', '75,924 km', '19,772 km', '10,611 km', '64,430 km', '31,825 km', '26,170 km', '24,843 km', '42,210 km', '47,418 km', '55,437 km', '89,631 km', '63,420 km', '31,235 km', '35,772 km', '43,806 km', '46,741 km', '65,603 km', '3,441 km', '69,039 km', '40,520 km', '64,152 km', '55,873 km', '52,934 km', '68,546 km', '24,376 km', '35,429 km', '78,268 km', '70,522 km', '24,818 km', '14,976 km', '75,571 km', '61,097 km', '68,311 km', '72,481 km', '45,450 km', '36,373 km', '40,847 km', '82,189 km', '87,557 km', '80,757 km', '84,466 km', '1,05,763 km', '61,524 km', '74,809 km', '66,549 km', '58,074 km', '86,768 km', '10,598 km', '63,730 km', '94,121 km', '75,703 km', '63,561 km', '65,231 km', '80,682 km', '49,257 km', '77,333 km', '45,641 km', '9,697 km', '34,677 km', '65,766 km', '34,681 km', '46,398 km', '61,216 km', '87,770 km', '56,653 km', '674 km', '45,232 km', '78,236 km', '30,729 km', '47,563 km', '43,299 km', '74,320 km', '70,687 km', '56,491 km', '66,812 km', '84,629 km', '88,567 km', '20,925 km', '19,492 km', '90,470 km', '66,350 km', '50,363 km', '26,930 km', '53,239 km', '8,528 km', '53,322 km', '7,620 km', '50,943 km', '34,724 km', '71,131 km', '51,789 km']

In [79]:
print(len(Brand),len(Price),len(History),len(Owner),len(Kilometers),len(Fuel_type),len(Last_service),len(Transmisson),len(Registration),len(Insurance),len(Year_of_manufacturing))

700 700 700 700 700 700 700 700 700 700 700

In [119]:
print(Year_of_manufacturing)

['-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-']

In [118]:
Used_car=pd.DataFrame({})
Used_car['Brand']=Brand
Used_car['Price']=Price
Used_car['History']=History
Used_car['Owner']=Owner
Used_car['Kilometers']=Kilometers
Used_car['Fuel_Type']=Fuel_type
Used_car['Last_service']=Fuel_type
Used_car['Transmission']=Transmisson
Used_car['Registration']=Registration
Used_car['Insurance']=Insurance
Used_car['Year of Manufacturing']=Year_of_manufacturing
Used_car

,Brand,Price,History,Owner,Kilometers,Fuel_Type,Last_service,Transmission,Registration,Insurance,Year of Manufacturing
0,2020 Maruti Swift LXI MANUAL,"5,66,399",Non-Accidental,1st Owner,"1,755 km",Petrol,Petrol,DL-3C-x-xxxx,Valid upto Mar 2022\nZero_Dep,February 2020,-
1,2015 Maruti Alto K10 LXI MANUAL,"2,67,799",Non-Accidental,1st Owner,"10,957 km",Petrol,Petrol,MANUAL,HR-51-x-xxxx,Valid upto Sep 2022\n3rd Party,-
2,2020 Maruti Swift LXI MANUAL,"5,59,499",Non-Accidental,1st Owner,"3,570 km",Petrol,Petrol,MANUAL,DL-2C-x-xxxx,Valid upto Feb 2022\nZero_Dep,-
3,2020 Maruti S PRESSO VXI,"3,98,999",Non-Accidental,1st Owner,"3,176 km",Petrol,Petrol,NA,HR-51-x-xxxx,Valid upto Jan 2022\nZero_Dep,-
4,2020 Renault TRIBER RXZ AT AUTOMATIC,"6,41,499",Non-Accidental,1st Owner,"6,460 km",Petrol,Petrol,AUTOMATIC,PB-10-x-xxxx,Valid upto Sep 2022\n3rd Party,-
...,...,...,...,...,...,...,...,...,...,...,...
695,2019 Maruti Ciaz DELTA 1.5 SHVS VVT MT MANUAL,"7,95,699",Non-Accidental,2nd Owner,"7,620 km",Petrol,Petrol,MANUAL,HR-26-x-xxxx,Valid upto Sep 2022\n3rd Party,-
696,2017 Maruti Swift Dzire LDI BS IV MANUAL,"4,52,599",Non-Accidental,2nd Owner,"50,943 km",Diesel,Diesel,MANUAL,DL-1C-x-xxxx,Valid upto Sep 2022\n3rd Party,-
697,2017 Hyundai Elite i20 SPORTZ 1.2 MANUAL,"5,50,000",Non-Accidental,1st Owner,"34,724 km",Petrol,Petrol,DL-8C-x-xxxx,Valid upto Sep 2022\n3rd Party,March 2017,-
698,2012 Chevrolet Aveo U VA LS 1.2 MANUAL,"1,65,000",Non-Accidental,1st Owner,"71,131 km",Petrol,Petrol,DL-9C-x-xxxx,Valid upto Sep 2022\n3rd Party,January 2012,-
699,2018 Maruti Swift VXI MANUAL,"4,65,399",Non-Accidental,1st Owner,"51,789 km",Petrol,Petrol,MANUAL,DL-2C-x-xxxx,Valid upto Mar 2022\nThird Party,-

In [130]:
#saving file into folder as csv file
Used_car.to_csv(r"C:\Users\INPshy\Desktop\DATA Science\Used car.csv")